@import url('https://fonts.googleapis.com/css?family=Nunito:regular,bold,italic&subset=latin,latin-ext');


/* global css */
:focus {
  outline: none !important;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: var(--bob-grey-blue-color) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--bob-grey-blue-color) !important;
  font-weight: bolder !important;
}
.no-button {
  background-color: transparent;
  border: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.flat-shadow {
  box-shadow: 0px 0px 0px 5px rgb(0 0 0 / 2%), 3px 2px 2px 2px rgb(0 0 0 / 6%),
    5px 5px 0px 5px rgb(0 0 0 / 3%);
}

:root {
  --bob-dark-green-color: #1f4852;
  --bob-dark-blue-color: #1b2b4a;
  --bob-middle-blue-color: #1a4181;
  --bob-main-blue-color: #235296;
  --bob-light-grey: #e3e0e0;
  --bob-dark-grey: #687087;
  --bob-light-grey-blue-color: #c6cfe6;
  --bob-grey: #eaecf6;


  --bob-benediction: var(--bob-grey);
  --bob-sentences:var(--bob-grey);

  --defined-font-size: 18px;
  --navbar-height: 78px;
  --background-img-path: url('./assets/background_game.jpeg');
  font-family: 'Nunito', Open Sans, sans-serif;
  font-size: var(--defined-font-size);
  color: var(--bob-grey-blue-color) !important;
}
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
body {
  background-color: var(--bob-dark-blue-color) !important;
  color: var(--bob-grey-blue-color) !important;
  height: 100%;
  /* min-width: 720px;
  min-height: 540px; */
  margin: 0;
  font-family: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
  overflow-x: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.is-light {
  font-weight: normal !important;
}
.is-bold {
  font-weight: bold !important;
}
.is-italic {
  font-style: italic !important;
}

.is-size-0 {
  font-size: 50px !important;
}
.is-size-1 {
  font-size: 40px !important;
}
.is-size-2 {
  font-size: 30px !important;
}
.is-size-3 {
  font-size: 1.33rem;
}
.is-size-4 {
  font-size: 1.22rem;
}
.is-size-5 {
  font-size: 1.11rem;
}
.is-size-6 {
  font-size: 1rem;
}
.is-size-7 {
  font-size: 0.85rem;
}
.text-orange {
  color: var(--bob-main-orange-color);
}
.text-blue {
  color: var(--bob-main-blue-color);
}
.text-basic {
  color: var(--bob-grey-blue-color);
}
.text-green {
  color: var(--bob-main-green-color);
}
.text-red {
  color: var(--bob-dark-orange-color);
}
.text-grey {
  color: var(--bob-dark-grey);
}

hr {
  color: var(--bob-light-grey-blue-color) !important;
  z-index: 200;
  width: 4rem;
  border-radius: 5rem;
  margin-top: 0rem !important;
  margin-top: 0.4rem !important;
  margin-bottom: 1rem !important;
  height: 10px !important;
  background-color: var(--bob-light-grey-blue-color) !important;
}
.input-text {
  padding: 10px;
  border-radius: 9px;
  border: 1px solid var(--bob-dark-grey);
  width: 400px;
}
.input-text-area {
  width: 80%;
  height: 180px;
  border: none;
  box-shadow: 0 0px 5px rgb(50 50 93 / 20%), 0 5px 15px rgb(0 0 0 / 17%);
  border-radius: 15px;
}

.disabled-link {
  pointer-events: none;
  color: var(--bob-light-grey) !important;
}

#GnericListStyle {
  list-style: none !important;
}
/* fix react strap dropdown list style */
.dropdown {
  list-style: none !important;
}

.flat-shadow {
  box-shadow: 0px 0px 0px 5px rgb(0 0 0 / 2%), 3px 2px 2px 2px rgb(0 0 0 / 6%),
    5px 5px 0px 5px rgb(0 0 0 / 3%);
}

.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-player-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

/*  GAME   */

.page {
  width: 100%;
  height: 150vh;
  background-color: var(--bob-light-orange-color);
  top: 0;
  left: 0;
}


.game-background {
  width: 80%;
  border-radius: 25px;
  padding: 10px 35px;
  border: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-text {
  text-align: center;
  margin: 10px;
}

.game-Bénédiction {
  background-color: var(--bob-benediction);

}

.game-Sentences {
  background-color: var(--bob-sentences);

}
.game-Rôle {
  background-color: var(--bob-sentences);
}

/* RULE */

.menu-type-of-rule {
  position: absolute;
  top: 20%;
  left: 20%;
}

.title-type-of-rule {
  background-color: var(--bob-main-blue-color);
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  border: 12px;
  /* font-weight: bold; */
  cursor: pointer;
  width: fit-content;
  min-width: 200px;
  margin: 10px;
}

.button-rule {
  margin-left: 70%;
}

.rules {
  display: flex;
  flex-direction: column;

}

.rule {
  border-radius: 15px !important;
  margin: 10px 50px !important;
  border: 0px !important;
  background-color: var(--bob-dark-grey);
  padding: 10px 35px;
  display: flex;
  flex-direction: row;
}

/*  BURGER   */

.burger-menu-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.burger-menu-icon {
  position: fixed;
  top: 80%;
  left: 75%;
}

/* MODAL */
.basic-modal {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.basic-modal-body {
  /*is the modal fixed size 
	* replaced fat-modal-sized for good
	* it is not flex tho
	*/
  border-radius: 10px;
  background-color: var(--bob-middle-blue-color);
}

.basic-modal-footer {
  margin: auto;
}

.basic-modal-veil {
  opacity: 0.6;
  width: 100%;
  height: 150vh;
  position: fixed;
  z-index: 150;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: var(--bob-grey);
  top: 0;
  left: 0;
}

.basic-modal-header-toggle {
  z-index: 152;
  /* z-index: 137; */
  width: 35px;
  height: 35px;
  /* background-color: white; */
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}


.button-add-player {
  height: 40px;
  display: inline-block;
  padding: 9px 15px;
  background-color: grey;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}